.chart {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.chart .chart__title {
    padding-bottom: 20px;
    font-family: sans-serif;
}
.chart .chart__chart {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
.chart .chart__chart.active {
    opacity: 1;
    pointer-events: all;
}
.chart .chart__selector {
    display: flex;
    flex-flow: row wrap;
}
.chart .chart__selector button {
    margin: 0;
    margin-right: 5px;
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: rgb(247, 247, 247);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.chart .chart__selector button:not(:disabled):hover,
.chart .chart__selector button.active {
    background: rgb(230, 235, 245);
}
.chart .chart__selector button:disabled {
    cursor: not-allowed;
}
/* - */
.chart--full #chart {
    width: 100%;
    height: 600px;
}
.chart--full .line {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(124, 181, 236);
}
.chart--full .lineLegendBlock {
    color: #000;
    background-color: rgba(124, 181, 236, 0.4);
}
/* - */
.chart--small {
    color: #fff;
    background-color: #41c8f4;
    display: inline-block;
    vertical-align: middle;
}
.chart--small #chart {
    height: 300px;
    max-width: 500px;
    width: 100%;
}
.chart--small .line {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(18, 81, 160);
}
.chart--small .lineLegendBlock {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}
/* - */
.loader {
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #1251a0;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
}
.loader.active {
    display: block;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* - */
svg {
    display: block;
}
.lineLegendBg {
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.lineLegendBlock {
    padding: 10px;
    line-height: 14px;
    width: 170px;
    height: 65px;
    font-size: 12px;
    font-family: sans-serif;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.lineLegend {
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
.lineLegend text {
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 12px;
}

.grid path {
    stroke: transparent;
}

.grid line {
    stroke: rgb(230, 230, 230);
}

.vol {
    pointer-events: none;
}

.focus,
.focus > * {
    transition: opacity 0.2s ease-in-out;
}

.handle {
    border-radius: 10px;
    fill: #fff;
    stroke-width: 0.5px;
    stroke: rgb(230, 230, 230);
    height: 49px;
    transform: translate(0, 3px);
    transition: stroke 0.2s ease-in-out;
}

.handle:active,
.handle:focus,
.handle:hover {
    stroke: steelblue;
}
/* - */
