.chart {
    display: none;
}
.chart--full {
    height: 800px;
    min-width: 310px;
}
.chart--small {
    height: 300px;
    width: 500px;
    
    background-color: #41c8f4;
}
.loader {
    display: none;
}
.active {
    display: block;
}
